{{#conditional-loading-spinner condition=loading}}

<table class="table grid">
  {{#if plugins.length}}
    <thead>
      <th>Plugin</th>
      <th>Installed On</th>
      <th>Installed By</th>
      <th></th>
    </thead>
    <tbody>
      {{#each plugins as |item|}}
        <tr class="admin-list-item">
	  <td class="col">{{item.name}}</td>
	  <td class="col">{{item.installed_on}}</td>
	  <td class="col">{{item.installed_by}}</td>
	  <td class="col">{{d-button class="btn btn-danger uninstall" icon="trash" action=(action "uninstall" item.name) disabled=uninstalling title="procourse_installer.uninstall" }}</td>
	</tr>
      {{/each}}
    </tbody>
  {{/if}}
</table>
{{/conditional-loading-spinner}}
{{#if uninstalling}}
<h3>Uninstalling Plugin</h3>
{{progress-bar percent=percent}}
{{x-console output=output followOutput=true}}
{{/if}}
{{#if installed}}
<span class='installed-plugin'>{{i18n 'procourse_installer.uninstalled'}}</span>
{{/if}}
